<div>
  <h1>Simple Kanban</h1>

  <div class="kanban-boards">
    <div class="board">
      <h2>NEW</h2>

      <div class="card">
        <input type="text" placeholder="Título" />
        <textarea placeholder="Conteúdo"></textarea>
        <div class="actions">
          <button>Adicionar</button>
        </div>
      </div>
    </div>
    <div class="board">
      <h2>TODO</h2>
    </div>
    <div class="board">
      <h2>DOING</h2>
    </div>
    <div class="board">
      <h2>DONE</h2>
    </div>
  </div>
</div>

