h1 {
  font-size: 1.75em;
  text-align: center;
  margin-bottom: 2em;
}

.kanban-boards {
  display: flex;
  gap: 10px;

  .board {
    flex: 1;
    margin: 0 0.4em;
    border: 1px solid black;
    width: 23%;
    min-height: 90vh;

    h2 {
      font-size: 1.25em;
      text-align: center;
    }

    .view-card {
      margin: 0.5em;
      border: 2px solid dimgrey;

      input, textarea {
        width: 95%;
        padding: 0.25em;
        margin: 0.25em;
      }

      .mat-mdc-card-header {
        display: initial;
      }

      .view-card-actions, .view-card-title {
        display: flex;
        justify-content: space-between;
        margin-top: 0.5em;
        align-items: center;
      }

      .view-card-actions.todo {
        justify-content: space-evenly;
      }
    }
  }
}
